<html lang="en">
	<head>
		<%- include("partial/head"); %>
	</head>
	<body>
		<div class="body">
			<%- include("partial/header"); %>
			<h1>Arkas Engine</h1>
			<p>
				Arkas Engine is a 3D game engine made to be a spiritual successor
				to Ken Silverman's Build Engine, as it uses the same technique
				with sectors and portals.
			</p>
			<h2>Hardware support</h2>
			<ul>
				<li>PC</li>
				<ul>
					<li>OS: Windows XP and above, Linux</li>
					<li>Graphics: OpenGL 1.1 to 2.0</li>
				</ul>
				<li>3DS (WIP)</li>
				<li>PlayStation Vita (WIP)</li>
			</ul>
			<h2>Source</h2>
			<a href="https://github.com/mesyeti/ArkasEngine">GitHub</a>
		</div>
	</body>
</html>
