<html lang="en">
	<head>
		<%- include("partial/head"); %>
	</head>
	<body>
		<div class="body">
			<%- include("partial/header"); %>
			<p>This is the full list of games on arkas.world</p>
			<hr>
			<table style="gamesTable">
			<% for (let i = games.length - 1; i != -1; --i) { %>
				<% let game = games[i]; %>
				<%- include("partial/game", {game: game, i: i}); %>
			<% } %>
			</table>
		</div>
	</body>
</html>
