<html lang="en">
	<head>
		<%- include("partial/head"); %>
	</head>
	<body>
		<div class="body">
			<%- include("partial/header"); %>
			<h1>Welcome to arkas.world</h1>
			<p>
				Arkas World is the home of Arkas Engine, Arkas Sandbox, and
				other games using the Arkas Engine.
			</p>
		</div>
	</body>
</html>
