<html lang="en">
	<head>
		<%- include("partial/head"); %>
	</head>
	<body>
		<div class="body">
			<%- include("partial/header"); %>
			<h1>Welcome to arkas.world</h1>
			<p>
				Arkas World is the home of Arkas Engine, Arkas Sandbox, and
				other games using the Arkas Engine.
			</p>
			<hr>
			<h3>Arkas Engine</h3>
			<p>
				Arkas Engine is a 3D game engine inspired by Ken Silverman's Build Engine.
				It is currently in very early beta, and is not really usable for
				making games yet.
			</p>
			<p><a href="/engine">Learn more</a></p>
			<h3>Games</h3>
			<p>
				As Arkas Engine is still in very early beta, there are not many
				games yet. Currently, there is just Arkas Sandbox.
			</p>
			<p><a href="/games">See games</a></p>
		</div>
	</body>
</html>
