<tr>
	<td><img src="/data/<%= i + 1 %>/thumb.png"></td>
	<td>
		<h3 style="display: inline"><%= game.name %></h3>
		<p><%= game.description %></p>
		<a href="/games/<%= i + 1 %>"><button>View</button></a>
	</td>
</tr>
