<table class="headerTable"><tr>
	<td>
		<h1 style="display: inline">arkas.world</h1>
		<a href="/">Home</a>
		<a href="/engine">Engine</a>
		<a href="/games">Games</a>
	</td>
	<td style="width: 100%; text-align: right">
		<a href="/register"><button>Register</button></a>
		<a href="/login"><button>Log in</button></a>
	</td>
</tr></table>
<hr>
